HW2
Renjie Liu

# PyfA Assignment 2

## Pandas - Exploratory Data Analysis
Use Pandas library to answer the questions about "Adult" dataset, dataset is given as a separate file. Explain and show the answer for the exact question! **Grading will be based on your code as well as the explanations!**

**Learning topics:**
- importing data 
- describing data and finding shape of a dataframe 
- loc, iloc 
- descriptive stats (e.g. mean)
- selection in dataframe
- value_counts 
- groupby 

**Please do not share this material on any platform or by any other means.**
    
### **Important Notes:** 

* Purpose of the assignment is to assess your knowledge and command of the Python programming language and your ability to resolve common errors. Grading is based on the code you are submitting, not the formatting of the results. 
* Please use the examples as a guideline, you are not expected to have the same formatting as the example, unless it is a formatting question. 
* Remember, there are many ways to code that can lead to the correct answer, do not hesitate to exercise your own style and python programming coventions.

**Data dictionary:**
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [166]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt

**0. Read in the dataset as a dataframe**

In [167]:
# Read the data file as a dataframe
colnames = ['age','workclass','fnlwgt','education','education-num','marital-status','occupation','relationship',
         'race','sex','capital-gain','capital-loss','hours-per-week','native-country','salary']
data = pd.read_csv('adult_data.csv',names = colnames)
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [168]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [169]:
data.shape

(32561, 15)

In [170]:
data.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [171]:
data['sex'].value_counts()

 Male      21790
 Female    10771
Name: sex, dtype: int64

21790 men and 10771 women

**2. What is the average age (*age* feature) of women?**

In [172]:
a = data.loc[data['sex'] == ' Female']
a['age'].mean()

36.85823043357163

**3. What is the percentage of German citizens (*native-country* feature)?**

In [173]:
b = data['native-country'] == ' Germany'
b.sum()/32561*100

0.42074874850281013

0.42%

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year?**

In [174]:
c = data.loc[data['salary'] == ' >50K']
c['age'].mean()

44.24984058155847

In [175]:
c['age'].std()

10.51902771985177

In [176]:
d = data.loc[data['salary'] == ' <=50K']
d['age'].mean()

36.78373786407767

In [177]:
d['age'].std()

14.020088490824813

**6. Is it true that people who earn more than 50K have at least high school education? (*education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [178]:
c['education'].unique()

array([' HS-grad', ' Masters', ' Bachelors', ' Some-college',
       ' Assoc-voc', ' Doctorate', ' Prof-school', ' Assoc-acdm',
       ' 7th-8th', ' 12th', ' 10th', ' 11th', ' 9th', ' 5th-6th',
       ' 1st-4th'], dtype=object)

Not True

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [179]:
e = data.groupby(['race','sex'])
e['age'].describe()

                               count       mean        std   min   25%   50%  \
race                sex
 Amer-Indian-Eskimo  Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                     Male      192.0  37.208333  12.049563  17.0  28.0  35.0
 Asian-Pac-Islander  Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                     Male      693.0  39.073593  12.883944  18.0  29.0  37.0
 Black               Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                     Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
 Other               Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                     Male      162.0  34.654321  11.355531  17.0  26.0  32.0
 White               Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                     Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                               75%   max
race                sex
 Amer-Indian-Eskimo  Female  46.00  80.0
                     Male    45.00  82.0
 Asian-Pac-Islander  Female  43.75  75.0
                     Male    46.00  90.0
 Black               Female  46.00  90.0
                     Male    46.00  90.0
 Other               Female  39.00  74.0
                     Male    42.00  77.0
 White               Female  46.00  90.0
                     Male    49.00  90.0

82

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [180]:
f = data[(data.sex == ' Male') & (data.salary == ' >50K')]
f = f.groupby(['marital-status'])
f.describe()

                           age                                                 \
                         count       mean        std   min   25%   50%    75%
marital-status
 Divorced                284.0  45.721831   8.683892  26.0  40.0  45.0  51.25
 Married-AF-spouse         4.0  31.250000   5.909033  27.0  28.5  29.0  31.75
 Married-civ-spouse     5938.0  44.883799  10.346546  21.0  37.0  44.0  52.00
 Married-spouse-absent    23.0  47.217391  12.150408  29.0  40.0  43.0  49.50
 Never-married           325.0  37.261538   9.974778  19.0  30.0  36.0  43.00
 Separated                49.0  42.714286   9.787322  23.0  36.0  42.0  50.00
 Widowed                  39.0  60.974359  11.941716  35.0  52.0  58.0  71.00

                              fnlwgt                 ... capital-loss          \
                         max   count           mean  ...          75%     max
marital-status                                       ...
 Divorced               65.0   284.0  187774.246479  ...          0.0  2824.0
 Married-AF-spouse      40.0     4.0   99242.000000  ...          0.0     0.0
 Married-civ-spouse     90.0  5938.0  188474.476591  ...          0.0  2415.0
 Married-spouse-absent  77.0    23.0  154836.086957  ...          0.0  1564.0
 Never-married          90.0   325.0  198613.683077  ...          0.0  3004.0
 Separated              61.0    49.0  208725.612245  ...          0.0  2824.0
 Widowed                81.0    39.0  162954.487179  ...          0.0  2392.0

                       hours-per-week                                          \
                                count       mean        std   min   25%   50%
marital-status
 Divorced                       284.0  48.919014  11.000022   5.0  40.0  48.0
 Married-AF-spouse                4.0  46.000000   4.898979  40.0  43.0  47.0
 Married-civ-spouse            5938.0  46.244022  10.720902   1.0  40.0  43.0
 Married-spouse-absent           23.0  44.391304  13.469626  20.0  40.0  40.0
 Never-married                  325.0  46.867692   9.834951   7.0  40.0  45.0
 Separated                       49.0  47.163265   9.287866  32.0  40.0  45.0
 Widowed                         39.0  42.384615  14.351995   2.0  40.0  40.0


                         75%   max
marital-status
 Divorced               55.0  99.0
 Married-AF-spouse      50.0  50.0
 Married-civ-spouse     50.0  99.0
 Married-spouse-absent  52.5  70.0
 Never-married          50.0  90.0
 Separated              50.0  80.0
 Widowed                50.0  80.0

[7 rows x 48 columns]

5938+4+23  = 5969 are married and 284+325+49+39 = 697 are single. So married proportion is higher

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [181]:
data['hours-per-week'].max()

99

In [182]:
data[data['hours-per-week'] == 99].shape

(85, 15)

In [183]:
g = data[(data['hours-per-week'] == 99) & (data['salary'] == ' >50K')]
g.shape

(25, 15)

25/85*100 = 29.4% earns more than >50k

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [184]:
z = data.groupby(['native-country','salary'])
z['hours-per-week'].mean()

native-country  salary
 ?               <=50K    40.164760
                 >50K     45.547945
 Cambodia        <=50K    41.416667
                 >50K     40.000000
 Canada          <=50K    37.914634
                            ...
 United-States   >50K     45.505369
 Vietnam         <=50K    37.193548
                 >50K     39.200000
 Yugoslavia      <=50K    41.600000
                 >50K     49.500000
Name: hours-per-week, Length: 82, dtype: float64

In [185]:
zz = data[data['native-country'] == ' Japan']
zz = zz.groupby(['salary'])
zz['hours-per-week'].mean()

salary
 <=50K    41.000000
 >50K     47.958333
Name: hours-per-week, dtype: float64

*** Assignment complete ***